*,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li {
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background: #E5E5E5;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.wrapper{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.header{
    width: 100%;
    padding: 0 70px;
    background: #FFFFFF;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__nav{
    width: 557px;
    height: 100%;
}
.header__menu li{
    height: 100%;
}
.header__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.header__menu a{
    height: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    border-bottom: 4px solid #00000000;
}
.header__menu a:hover {
    border-bottom: 4px solid #000000;
}
.header__links{
    width: 112px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__modal{
    width: 1072px;
    /* height: 373px; */
    position: absolute;
    top: 86px;
    /* left: calc(50% - 536px); */
    left: 173px;
    z-index: 2;
    background: #FFFFFF;
    color: black;
    padding: 24px 75px;
    display: flex;
}
.modal__block1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.modal__list1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 327px;
    margin-top: 19px;
    /* height: 325px; */

}
.modal__list2 {
    margin-top: 19px;
}
.modal__title{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
}
.list__item{
    margin-bottom: 12px;
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
}
.blue{
    background: #95CFD5;
    padding: 0 152px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.blue__info{
    padding-bottom: 133px;
}
.blue__title{
    font-weight: 700;
    font-size: 150px;
    line-height: 150px;
    color: #FFFFFF;
    margin-top: 127px;
}
.blue__btns{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 46px;
}
.btn__buy{
    width: 272px;
    height: 52px;
    background: #000000;
    box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 14px 92px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
.btn__video{
    display: flex;
    align-items: center;
    width: 170px;
    justify-content: space-between;
}
.btn__video span{
    text-transform: uppercase;
    color: #000000;
}
.blue__kettles{
    margin-top: 64px;
    display: flex;
    gap: 16px;
}
.blue__kettlesItem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 1px solid #FFFFFF;
    border-radius: 7px;
    cursor: pointer;
}
.blue__kettlesItem:nth-child(1){
    background: #FFFFFF;
}
.blue__photo{
    margin-top: 68px;
    display: flex;
    width: 476px;
    position: relative;
}
.blue__photoImg {
    z-index: 1;
    height: 542px;
}
.blue__photoText{
    position: absolute;
    right: 0;
    top: 19px;
}
.blue__circles{
    position: absolute;
    top: 300px;
    right: 70px;
}
.circles__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    margin-bottom: 8px;
}
.circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffffff;
}